.article {
    margin-left: 14px;
    margin-right: 14px;
&__header {
    text-align: center;
    padding-top: 20px;
    font-weight: lighter;
}
&__container--card {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
}&__container--card-content {
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 10px;
}
}


@media (min-width: 1000px) {
    .article__container--card {
        width: 22%;
    }
    .article__container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-left: 2rem;
    }
    .article__header {
        text-align: left;
        margin-left: 2rem;
    }
    .article {
        margin-left: 6rem;
    }
}