.article {
    margin-left: 14px;
    margin-right: 14px;
&__header {
    text-align: center;
    padding-top: 20px;
    font-weight: lighter;
}
&__container--card {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
}&__container--card-content {
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 10px;
}
}
