.footer {
    @include centered-items ;
    background-color: hsl(233, 26%, 24%);
    padding-top: 20px;
    padding-bottom: 20px;
&__page--share-logo {
    padding-bottom: 20px;
}

&__page--share-social-page {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}
&__page--share-social-page {
    width: 48px;
    height: 48px;
}
&__page--share-social-link {
    padding-left: 0;
    color: white;
}&__page--share-social-link-list a {
    margin-top: 4px;
}&__page--share-social-button {
   @include button;
}
}


.footer__page--share-social-page-list svg:hover {
    color: rgb(108, 194, 108);
}


@media(min-width:1000px) {
    .footer {
        display: grid;
        grid-template-columns: 70% 30%;
        color: white;
    }
    .footer__page {
        min-height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    top: 4rem;
}
    .footer__page--end {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 80px;
        padding-right: 20px;
        padding-bottom: 20px;
     }
     .footer__page--share-social-button {
        color: white;
        border: none;
        background: linear-gradient(to right, limegreen, cyan);
        padding: 15px 30px;
        border-radius: 25px;
        cursor: pointer;
     }
}