.main {
    background-image: url("../images/bg-intro-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 0rem;
    background-position-y: -1rem;
    min-height: 35rem;
&__context {
    @include centered-items;
    padding-bottom: 40px;
&--heading {
    font-size: 38px;
    font-weight: lighter;
}
&--paragraph {
    font-size: 16px;
    line-height: 32px;
}
&--button {
    @include button;
}
}
}
